<div class="flex flex-wrap items-center p-2 bg-emerald-500 space-x-2">
  <div>
    <%= link_to "Home", root_path, class: "font-semibold hover:bg-emerald-600 p-2 rounded-md" %>
  </div>
  <div class="ml-auto">
    <% if current_user %>
      <div class="flex items-center space-x-2">
        <div><%= current_user.username %></div>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "font-semibold cursor-pointer hover:bg-emerald-600 rounded-md p-2" %>
      </div>
    <% else %>
      <%= button_to "Login", user_discord_omniauth_authorize_path, class: "font-semibold cursor-pointer hover:bg-emerald-600 rounded-md p-2", data: { turbo: false } %>
    <% end %>
  </div>
</div>
