<div>
    <h1>Votes</h1>
    <ul data-controller="sortable">
    <% @votes.each do |vote| %>
        <li data-sortable-url="<%= vote_position_path(vote, vote.position) %>"><i data-sortable-handle>(H)</i> <%= vote.book.title %></li>
    <% end %>
    </ul>
</div>
